version: '3.8'
services:
  nginx:
    container_name: web
    restart: on-failure
    image: nginx:1.24.0-alpine
    volumes:
      - ./nginx/prod/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    ports:
      - 80:80
    depends_on:
      - web
  web:
    container_name: backend
    build: .
    restart: always
    env_file: dev.env
    command: gunicorn taskboard.wsgi:application --bind 0.0.0.0:5000
    volumes:
     - .:/app
     - static_volume:/app/static
    depends_on:
     - db
  db:
    container_name: db
    image: postgres:16.2-alpine
    env_file: dev.env
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  static_volume:
  postgres_data:
